In [198]:
import pandas as pd
import pandas.io.sql as sqlio
import psycopg2 as ps
import os

In [199]:

conn = ps.connect(
    host="localhost",
    port="5432",
    database="healthrecords",
    user="postgres",
    password='password'
)

# Create a cursor object
cur = conn.cursor()

In [200]:
# Function that creates a table in the database to store the following patient information:
# social security number, name, address, email, phonenumber and insurance ID as column headers.

def create_table(table_name, conn, cursor):
    try:
        query = "CREATE TABLE " + table_name + """(
                    SSN integer PRIMARY KEY,
                    Name VARCHAR(50) NOT NULL,
                    Address VARCHAR(200) NOT NULL,
                    Email VARCHAR(100) NOT NULL,
                    Phone VARCHAR(100) NOT NULL,
                    Insurance_id integer
                    )"""
        cursor.execute(query)
        conn.commit()
    except ps.Error as e:
        conn.rollback()  # Rollback the transaction in case of an error
        print("Error:", e)

In [201]:
create_table('patients', conn, cur)

Error: relation "patients" already exists

In [202]:
# Function to insert a patient into the table
def insert_patient(table_name, ssn, name, address, email, phone, insurance_id):
    try:
        query = f"INSERT INTO {table_name}(ssn, name, address, email, phone, insurance_id) VALUES({ssn}, '{name}', '{address}', '{email}', '{phone}', {insurance_id})"
        cur.execute(query)
        conn.commit()
    except ps.Error as e:
        conn.rollback()
        print("Error: ", e)

In [47]:
insert_patient('patients', 123343434, "John Smith", "123 Main st", "someting@email.com", "1234567890", 1234567890)

INSERT INTO patients(ssn, name, address, email, phone, insurance_id) VALUES(123343434, 'John Smith', '123 Main st', 'someting@email.com', '1234567890', 1234567890)

In [203]:
import names
import random
from random_address import real_random_address

In [204]:
def create_test_sample(n):
    def rand_ssn(n):
        SSN_list = []
        for i in range(n):
            r = random.random()
            random_SSN = '{:.15f}'.format(r)  # random num between 0 & 1 to 15dp
            random_10_digits = random_SSN[-10:] # getting the last 10 digits of the random number
            SSN = random_10_digits
            SSN_list.append(int(SSN))
        return SSN_list
    
    def rand_full_name(n):
        full_name_list = []
        for i in range(n):
            name = names.get_full_name()
            full_name_list.append(name)
        return full_name_list
    
    def random_phone_number(n):
        phone_numbers_list = []
        for i in range(n):
            r = random.random()
            random_time = '{:.15f}'.format(r)  # creates random number between 0 and 1
            random_10_digits = random_time[-10:]
            phone_number = "07" + random_10_digits
            phone_numbers_list.append(str(phone_number))
        return phone_numbers_list
    
    def random_real_address(n):
        address_list = []
        for i in range(n):
            address = real_random_address()
            address_list.append(address['address1'])
        return address_list
        

    def e_mail_generator(list_of_names):
        e_mail_list = []
        for i in list_of_names:
            name = i
            e_mail_list.append(name.split(" ")[0] + "@emailaddress.com")
        return e_mail_list
    
    def random_insuranceid(n):
        insuranceid_list = []
        for i in range(n):
            r = random.random()
            random_nr = '{:.15f}'.format(r)   # creates random number between 0 and 1
            random_10_digits = random_nr[-10:]
            insuranceid = random_10_digits
            insuranceid_list.append(int(insuranceid))
        return insuranceid_list
    
    SSN_list = rand_ssn(n)
    name_list = rand_full_name(n)
    address_list = random_real_address(n)
    e_mail_list = e_mail_generator(name_list)
    phone_number_list = random_phone_number(n)
    insuranceid_list = random_insuranceid(n)
    
    # CHECK IF ALL LISTS ARE SAME LENGTH

    for i in [SSN_list, name_list, address_list, e_mail_list, phone_number_list, insuranceid_list]:
        if len(i) == n:
            pass
        else:
            raise Exception("length lists not equal")
            
    #PRINT FIRST RECORDS OF TEST SAMPLE
    #print("TEST SAMPLE COMPLETED, FIRST TWO RECORDS =")
    #for i in range(10):
        #print(SSN_list[i], name_list[i], address_list[i], e_mail_list[i], phone_number_list[i], insuranceid_list[i])
    
    print("")
    print("STARTING WITH POPULATING DATABASE")
    for i in range(n):
        insert_patient("Patients", SSN_list[i], name_list[i], address_list[i], e_mail_list[i], phone_number_list[i], insuranceid_list[i])

    print("")
    print("POPULATION COMPLETED")
    print("")

In [169]:
# populating the patients database with 1000 patients
create_test_sample(1000)

STARTING WITH POPULATING DATABASE
INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(5427885447, 'James Sheneman', '629 Cutter Court', 'James@emailaddress.com', '077450288352', 6936221340)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(852145219, 'David Paul', '1528 Spruce Street', 'David@emailaddress.com', '077061148945', 9301759922)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(6604530805, 'Liz White', '2815 Blueridge Place', 'Liz@emailaddress.com', '072336636636', 6685796217)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(8696063781, 'Bradley Ohlsen', '34 Main Street', 'Bradley@emailaddress.com', '073573408179', 4025801163)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(2902044707, 'Elliot Mcguffin', '8 Corona Street', 'Elliot@emailaddress.com', '076874063269', 5162543089)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(5761579845, 'Floyd Kulesa', '8502 Madrone Avenue', 'Floyd@emailaddress.com', '070650139151', 4991363198)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(2251231177, 'Carole Saunders', '14003 Crossbranch Court', 'Carole@emailaddress.com', '073414127714', 7475567018)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(6096551368, 'Janis Hinton', '2337 Nebraska Avenue', 'Janis@emailaddress.com', '071851037228', 785212602)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(5508346708, 'Gladys Imai', '201 West Montgomery Cross Road', 'Gladys@emailaddress.com', '077050720291', 7135497409)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(5867150620, 'Regina Smithson', '10383 Eagle River Lane', 'Regina@emailaddress.com', '079293809682', 5181144940)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(6703683887, 'Mary Dimuzio', '1213 Michigan Avenue', 'Mary@emailaddress.com', '071705326577', 5178130766)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(1608671180, 'Robert Schott', '6506 North Lagoon Drive', 'Robert@emailaddress.com', '072365938172', 7422576869)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(1328994877, 'Gwen West', '1908 Newton Street Northeast', 'Gwen@emailaddress.com', '077960952678', 5042934995)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(1023943001, 'Ryan Mcelvaine', '3111 West Place Southeast', 'Ryan@emailaddress.com', '075417362279', 8352585208)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(929436331, 'Lee Walker', '345 Buckland Hills Drive', 'Lee@emailaddress.com', '071705325370', 6954958703)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(7030918620, 'Anthony Garland', '747 West Pacific Avenue', 'Anthony@emailaddress.com', '072423340739', 8189450119)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(5900226344, 'Michelle Bedard', '849 East Victoria Street', 'Michelle@emailaddress.com', '073052540591', 6934442687)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(6160328705, 'Archie Ramgel', '116 9th Street Southeast', 'Archie@emailaddress.com', '070978025803', 5736290468)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(3306606378, 'Kenneth Mclaughlin', '1485 Hampshire Hollow Road', 'Kenneth@emailaddress.com', '073104165663', 3062479702)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(978443684, 'James Davidson', '2815 Blueridge Place', 'James@emailaddress.com', '071784629297', 4128750724)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(9657344129, 'Deborah Owens', '733 Georgetown Drive', 'Deborah@emailaddress.com', '070026890787', 3180600342)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(5300761720, 'Jessica Benedetto', '93 Hamlin Street', 'Jessica@emailaddress.com', '073490873070', 8679753118)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(3333671785, 'Joyce Tate', '262 Mitchell Street', 'Joyce@emailaddress.com', '074840879875', 8826132095)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(3951161885, 'Denny Lowery', '2809 Briarcliff Road', 'Denny@emailaddress.com', '077258915806', 8172288567)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(8913727855, 'Rosalind Walters', '3415 Brookdale Drive', 'Rosalind@emailaddress.com', '079256872279', 8306606973)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(3131966427, 'Jeff Sapienza', '2400 Easy Street', 'Jeff@emailaddress.com', '072462608660', 3303292010)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(128494285, 'Dallas Prado', '46 Sugarloaf Hill Road', 'Dallas@emailaddress.com', '075090876400', 2070722123)
INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(1306029517, 'Ruth Burnham', '2186 Knollwood Drive', 'Ruth@emailaddress.com', '070538154074', 1443364608)
INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(9527681350, 'Richard Thompson', '207 High Street', 'Richard@emailaddress.com', '070595845292', 9428840669)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(9210879616, 'Sallie Sundermeyer', '1823 North Munchkin Lane', 'Sallie@emailaddress.com', '075577664436', 2700591780)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(9913287556, 'Barry Sanders', '5615 West Villa Maria Drive', 'Barry@emailaddress.com', '075807209528', 1167309929)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(4057355545, 'Kate Cuevas', '802 Madison Street Northwest', 'Kate@emailaddress.com', '077711344829', 3019417363)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(1263232356, 'Chad Craig', '2245 Southwest Binkley Street', 'Chad@emailaddress.com', '077142744571', 4637895693)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(3946508438, 'Linda Kelly', '3722 Kisling Loop', 'Linda@emailaddress.com', '072357562524', 7039569062)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(2298901059, 'Micheal Richardson', '4511 Sloat Road', 'Micheal@emailaddress.com', '071479282999', 5569644786)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(9059806039, 'Paul Randolph', '618 Ava Circle Northeast', 'Paul@emailaddress.com', '077934425953', 7811161934)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(9775151799, 'Elizabeth Marshall', '87 Horseshoe Drive', 'Elizabeth@emailaddress.com', '076647677769', 1282792387)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(765070676, 'Ronald Nash', '5754 Belleau Drive', 'Ronald@emailaddress.com', '070898147717', 9319855756)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(4562286977, 'Nicole Adams', '2300 Deer Path Circle', 'Nicole@emailaddress.com', '073463625521', 1472289189)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(417164357, 'Samantha Perez', '47634 Kato Road', 'Samantha@emailaddress.com', '073794194053', 4277469964)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(1575610793, 'Troy Raminez', '57 Birdie Lane', 'Troy@emailaddress.com', '075605562173', 5933582509)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(6072532687, 'Kenneth Fowler', '2196 East Jonquil Road', 'Kenneth@emailaddress.com', '074055221728', 7132616035)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(316957549, 'Tommy Thomas', '1215 Joseph Avenue', 'Tommy@emailaddress.com', '079645142249', 1646315508)
INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(8357813468, 'Patsy White', '168 Partridge Hill Road', 'Patsy@emailaddress.com', '071206896228', 4509409874)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(2926442745, 'Billy Schueller', '8001 East 6th Avenue', 'Billy@emailaddress.com', '072178070445', 1560506876)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(2402182291, 'George Copley', '2617 Truffula Circle', 'George@emailaddress.com', '070618454850', 1229145813)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(7362321807, 'Jean Walker', '1911 East 58th Avenue', 'Jean@emailaddress.com', '071966536702', 9771866691)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(7715548166, 'Jose Long', '3784 Milky Way Drive', 'Jose@emailaddress.com', '071646202651', 4538854344)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(7861465164, 'William Prentice', '86 Highland Street', 'William@emailaddress.com', '073230930471', 8782315194)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(4530498907, 'Jenny Lanier', '1911 East 58th Avenue', 'Jenny@emailaddress.com', '074432323350', 218973503)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(9816067856, 'Bill Anderson', '3 Carvel Circle', 'Bill@emailaddress.com', '078342391581', 5045731941)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(5136274379, 'Jeffrey Boone', '7030 West Krall Street', 'Jeffrey@emailaddress.com', '070202350595', 337873800)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(4215144911, 'Miranda Wilson', '5055 West 58th Avenue', 'Miranda@emailaddress.com', '075356152910', 2194462058)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(1781229710, 'Steven Graham', '1026 Orchard Avenue', 'Steven@emailaddress.com', '079959596308', 5518909983)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(714420036, 'Lynda Andrews', '403 Irwin Street', 'Lynda@emailaddress.com', '075252082610', 6164468078)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(8246129586, 'Aaron Ali', '10508 Kovats Court', 'Aaron@emailaddress.com', '076749197690', 2323930533)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(8400778471, 'John Snell', '2811 Battery Place Northwest', 'John@emailaddress.com', '078235347211', 4953659608)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(9906103514, 'Jessie Ackles', '7 River Otter Lane', 'Jessie@emailaddress.com', '073350726733', 7077067745)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(1268748362, 'Kristy Kern', '6328 West Brown Street', 'Kristy@emailaddress.com', '075024884173', 7271951303)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(3019733466, 'Arthur Pardini', '5036 Jericho Street', 'Arthur@emailaddress.com', '077550278864', 4026151313)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(111958084, 'Lottie Peltier', '14358 West 88th Place', 'Lottie@emailaddress.com', '077220478263', 2408721936)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(6986270730, 'Jane Dempsey', '12156 Oslo Drive', 'Jane@emailaddress.com', '079955849197', 463863010)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(1624625131, 'Elizabeth Hooper', '1772 150th Avenue', 'Elizabeth@emailaddress.com', '075909882130', 569803456)
INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(7358861364, 'Terrance Drage', '224 Michael Sears Road', 'Terrance@emailaddress.com', '076548002516', 5182868495)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(628981233, 'Matthew Hernandez', '112 Coleman Boulevard', 'Matthew@emailaddress.com', '079728914441', 6768804077)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(453332955, 'Donald Moore', '467 North Mountain Ranch Road', 'Donald@emailaddress.com', '073952952375', 298169297)
INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(8403955115, 'Hector Ress', '23128 Donalda Avenue', 'Hector@emailaddress.com', '075834888803', 1244402110)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(7129072697, 'Jack Mattie', '2040 Innes Circle', 'Jack@emailaddress.com', '072276313972', 4300425555)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(2511327222, 'Ian Cocola', '6925 Lariat Lane', 'Ian@emailaddress.com', '074616859723', 6364738587)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(2931679808, 'Rene Shockley', '24 Lambert Street', 'Rene@emailaddress.com', '078463896844', 4881659514)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(6706519837, 'Gary Fatica', '750 West Dimond Boulevard', 'Gary@emailaddress.com', '070165388212', 2031322413)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(9206260905, 'Richard Ewing', '80 North East Street', 'Richard@emailaddress.com', '070065382543', 328024402)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(2044683321, 'William Davis', '5161 Jefferson Boulevard', 'William@emailaddress.com', '075149392289', 3243638919)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(4673037423, 'Emily Saniger', '1831 Frankford Avenue', 'Emily@emailaddress.com', '078611031581', 9880907548)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(8136171003, 'Antone Conley', '47634 Kato Road', 'Antone@emailaddress.com', '070959419155', 1302984245)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(5836313442, 'Nery Griffin', '26 Seaman Circle', 'Nery@emailaddress.com', '074378131185', 6829555228)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(7487084709, 'Debra Justice', '503 Orchard Road', 'Debra@emailaddress.com', '077898875544', 7009827000)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(2211406520, 'Ramon Jolly', '412 Virginia Avenue', 'Ramon@emailaddress.com', '078091369110', 463316331)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(1177215184, 'Mignon Alexander', '172 Homestead Street', 'Mignon@emailaddress.com', '079962486064', 3720659616)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(8267215346, 'Maurice Anderson', '2147 Millhaven Drive', 'Maurice@emailaddress.com', '076758951645', 2168913237)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(1759533031, 'Larry Houk', '8532 Ingalls Circle', 'Larry@emailaddress.com', '072021474295', 9145735296)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(897798343, 'Ramiro Macfarland', '8036 Laketowne Court', 'Ramiro@emailaddress.com', '077828852155', 2664922591)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(7113131386, 'Marilyn Carthen', '654 Laurette Place', 'Marilyn@emailaddress.com', '072409014212', 7432852425)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(758094984, 'Gregory Franco', '105 Inglewood Drive', 'Gregory@emailaddress.com', '071570053979', 301957689)
INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(3869904869, 'David Polowy', '2577 East Wyman Road', 'David@emailaddress.com', '070789444665', 7029853678)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(4438861979, 'Selena Ribble', '22219 Panama City Beach Parkway', 'Selena@emailaddress.com', '079701744167', 4577804834)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(5000180460, 'Michael Hadley', '23501 Ida Lane', 'Michael@emailaddress.com', '072498873697', 1822659488)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(7413147664, 'Miranda Wells', '6040 West Kings Avenue', 'Miranda@emailaddress.com', '071221077929', 4929223184)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(3763461441, 'Mary Young', '9827 Davenport Avenue', 'Mary@emailaddress.com', '070955586420', 466112801)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(498400386, 'Martha Jenkins', '65 Lowry Road', 'Martha@emailaddress.com', '079858279321', 4529118172)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(1887286607, 'Leo Noriega', '8 Village Circle', 'Leo@emailaddress.com', '071304642540', 3613608015)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(4688323155, 'Carrie Lloyd', '702 East 53rd Street', 'Carrie@emailaddress.com', '071926644811', 3924409395)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(2582668139, 'Amanda Mcneill', '2 Spencer Street', 'Amanda@emailaddress.com', '071829983084', 4767527325)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(5244501289, 'Lynne Solis', '20000 North 57th Avenue', 'Lynne@emailaddress.com', '076707067165', 2958999809)
Error:  integer out of range


Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(5796565956, 'Amy Sherlock', '2086 Hillside Drive', 'Amy@emailaddress.com', '078730984970', 3420904364)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(9649787375, 'David Woods', '7 Underwood Place Northwest', 'David@emailaddress.com', '076477774240', 8856249541)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(696361140, 'Alexandra Semmes', '4738 Mallard Common', 'Alexandra@emailaddress.com', '078156944489', 4481504430)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(1461492673, 'Margaret Bramlett', '61 Cubles Drive', 'Margaret@emailaddress.com', '077918431804', 1484916746)
INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(3843133120, 'Lisa Blackwell', '1439 2nd Street', 'Lisa@emailaddress.com', '079620157713', 1505004586)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(5362513317, 'Steven Burrow', '212 Holiday Circle', 'Steven@emailaddress.com', '076590040310', 4575367438)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(7340115988, 'Kristopher Smith', '1954 Hilltop Road', 'Kristopher@emailaddress.com', '074493337882', 3695137730)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(8718162830, 'Daniel Tointon', '6311 West Wagoner Road', 'Daniel@emailaddress.com', '079917619290', 1025027246)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(8419787158, 'Karen Nowlen', '8307 Brookline Place', 'Karen@emailaddress.com', '070590923985', 5894344491)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(2247308989, 'Tracey Waggoner', '133 White Cap Way', 'Tracey@emailaddress.com', '079837174409', 4455783852)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(1215341560, 'Roger Shelton', '55 Sunrise Avenue', 'Roger@emailaddress.com', '077006355436', 3028936708)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(33420805, 'Jennifer Schroeder', '1637 Delphil Street', 'Jennifer@emailaddress.com', '072158523010', 5940337424)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(758808567, 'Ralph Sheridan', '5024 West Christy Drive', 'Ralph@emailaddress.com', '072790091158', 3098950971)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(5159190113, 'Bruce Lafond', '10826 Pointe Royal Drive', 'Bruce@emailaddress.com', '074950374437', 6004520796)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(2986623449, 'Deborah Reed', '9030 Pennington PIace', 'Deborah@emailaddress.com', '075387295729', 672708747)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(4825694093, 'Daniel Mccurren', '8125 Glynnwood Drive', 'Daniel@emailaddress.com', '070958903071', 1225854517)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(6800943116, 'Kendra Brooks', '125 John Street', 'Kendra@emailaddress.com', '078432725682', 9919676194)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(3379286839, 'George Berryhill', '1004 Bellflower Street', 'George@emailaddress.com', '070101648450', 1735850246)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(8929541973, 'Elizabeth Seifert', '175 Oak Street', 'Elizabeth@emailaddress.com', '078092724539', 6409543834)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(5551047537, 'Christopher Holmes', '5701 North 67th Avenue', 'Christopher@emailaddress.com', '078405044102', 6056587841)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(6364485795, 'Guy Apodaca', '815 Plantation Drive', 'Guy@emailaddress.com', '079951772857', 7560403442)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(1979773667, 'Burt Duvall', '1211 Rock Creek Trce', 'Burt@emailaddress.com', '073757659100', 8725285664)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(3155345150, 'Maria Hirota', '301 Southeast 37th Street', 'Maria@emailaddress.com', '075177645288', 748888752)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(976372318, 'Nancy Moore', '349 North Sabine Pass Road', 'Nancy@emailaddress.com', '076810963097', 3647608242)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(8711055116, 'Jessica Williams', '6013 Cherry Hill Road', 'Jessica@emailaddress.com', '077002105851', 3009082332)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(2658412261, 'George Jenkins', '1709 Travers Court', 'George@emailaddress.com', '075660088556', 2986637083)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(7202535673, 'Renee Malekan', '5706 Worchester Drive', 'Renee@emailaddress.com', '076964392744', 2625434266)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(4752622445, 'Mariano Sexton', '16 Fuller Street', 'Mariano@emailaddress.com', '077568641142', 8597212781)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(3824792478, 'William Wascher', '31130 Meadowbrook Avenue', 'William@emailaddress.com', '075451845153', 842856499)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(3289151292, 'Benjamin Lyle', '2 Ellenwood Street', 'Benjamin@emailaddress.com', '074480152380', 1267488671)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(8169825683, 'Larry Hrbacek', '159 Adams Street', 'Larry@emailaddress.com', '079262872661', 8009844225)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(4059580979, 'Charles Fox', '1304 Northern Hills Road', 'Charles@emailaddress.com', '075129500555', 6663503756)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(4531336938, 'Maria Gillis', '1460 Berger Street', 'Maria@emailaddress.com', '072646533204', 3694044134)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(1043170606, 'Kayla Stafford', '61 Cubles Drive', 'Kayla@emailaddress.com', '070665385648', 8844556264)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(3347081323, 'Dorothy Leong', '1629 South Razorback Road', 'Dorothy@emailaddress.com', '071915043286', 329661709)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(8181180867, 'Dong Hoard', '5444 Nicole Boulevard', 'Dong@emailaddress.com', '079140537808', 4059785523)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(9990090836, 'Lillian Ortega', '3034 Mica Street', 'Lillian@emailaddress.com', '074145714557', 5559429706)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(9285976663, 'Ying Walker', '1124 Jacobs Court', 'Ying@emailaddress.com', '079194865566', 7217091821)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(3627076566, 'Robert Martin', '1820 22nd Street Southeast', 'Robert@emailaddress.com', '074185573523', 5333848941)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(1929965555, 'Michelle Stewart', '22709 Canyon Terrace Drive', 'Michelle@emailaddress.com', '070212621657', 698389840)
INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(9623461754, 'Alma Duck', '463 Pecan Tree Drive', 'Alma@emailaddress.com', '075460160548', 3480811671)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(3325901256, 'Jimmy Ortiz', '420 D Street Northwest', 'Jimmy@emailaddress.com', '072619889494', 3129623239)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(8553236224, 'Viola Harris', '4408 Northwest 55th Street', 'Viola@emailaddress.com', '074037548955', 2057510365)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(6316573844, 'Todd Horne', '1213 Michigan Avenue', 'Todd@emailaddress.com', '079583647679', 1213286662)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(9040756406, 'David Vallo', '5128 West Carol Avenue', 'David@emailaddress.com', '074813809445', 8138394902)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(9782424192, 'Efren Rogers', '105 French Run Road', 'Efren@emailaddress.com', '075779345073', 7296603210)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(2608915713, 'Shannon Harris', '17878 Front Beach Road', 'Shannon@emailaddress.com', '074489600745', 8400748755)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(5544360673, 'Maudie Blakeman', '10222 Pine Glen Circle', 'Maudie@emailaddress.com', '073949031930', 6345777712)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(7629571781, 'Roberto Summers', '35805 Alcazar Court', 'Roberto@emailaddress.com', '075119108667', 2224667388)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(3326316518, 'Tammy Mccune', '12002 Vanherr Drive', 'Tammy@emailaddress.com', '072895242986', 6683025162)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(4122175794, 'Peter Vining', '3 Mad Anthony Lane', 'Peter@emailaddress.com', '077024741323', 8640472998)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(7076899086, 'Verna Strong', '257 Broadway', 'Verna@emailaddress.com', '073387330508', 464516133)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(1630425878, 'Alphonso Kinsler', '1710 East Harold Street', 'Alphonso@emailaddress.com', '077549927548', 3458050026)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(5077664514, 'Scott Grissinger', '12300 Apache Avenue', 'Scott@emailaddress.com', '077935307566', 5064426056)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(7474227815, 'Laura Ahn', '683 North Wilson Avenue', 'Laura@emailaddress.com', '072840943795', 6528249722)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(76798546, 'Rita Eusebio', '5331 Rexford Court', 'Rita@emailaddress.com', '077100425351', 4543494930)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(3032787402, 'Katherine Vigor', '1509 Hadley Avenue', 'Katherine@emailaddress.com', '072582125047', 8692694540)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(905457732, 'Neal Bivens', '1347 Blackwalnut Court', 'Neal@emailaddress.com', '079257707940', 7277870115)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(5523532488, 'Adam Shamapande', '1710 Monroe Street Northeast', 'Adam@emailaddress.com', '071202585997', 7517596314)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(6578256134, 'Hettie James', '597 East Miracle Drive', 'Hettie@emailaddress.com', '072700461062', 9505131863)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(9068231323, 'Pedro Lloyd', '2613 Southeast 50th Street', 'Pedro@emailaddress.com', '074090684312', 2297027028)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(8742941742, 'Brian Gould', '1223 Delaware Avenue', 'Brian@emailaddress.com', '076465787399', 8336095525)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(1992788485, 'Timothy Rosenfeld', '306 Rural Hill Court', 'Timothy@emailaddress.com', '078235864733', 6250397377)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(307688068, 'Angelina Aranda', '244 La Normandy Drive', 'Angelina@emailaddress.com', '076020257300', 5108933302)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(6608531634, 'Elaine Owens', '1311 Northwest 98th Street', 'Elaine@emailaddress.com', '073671490969', 4812647195)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(9202789888, 'David Oreilly', '403 Turkey Creek Road', 'David@emailaddress.com', '072183895322', 3668814386)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(90403055, 'Anna Sandberg', '707 Leaning Oaks Drive', 'Anna@emailaddress.com', '075637633678', 9914879910)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(7367729557, 'Kelly Davis', '86 Pine Street', 'Kelly@emailaddress.com', '074096614196', 7857572959)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(7486764197, 'Mary Ferguson', '8841 Tempest Circle', 'Mary@emailaddress.com', '071349617351', 2703743001)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(8870023361, 'Thomas Riley', '5644 Kipling Parkway', 'Thomas@emailaddress.com', '077939191548', 6637970792)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(5511300652, 'Bryan Tait', '275 Henry Street', 'Bryan@emailaddress.com', '079291371019', 5751102576)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(6304431739, 'Mary Gammill', '91 Hoague Drive', 'Mary@emailaddress.com', '075173611087', 4637532791)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(6152044745, 'Margaret Johnson', '5959 North 55th Avenue', 'Margaret@emailaddress.com', '073371418265', 8305569160)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(6705492564, 'Kimberley Stanford', '3579 2nd Avenue', 'Kimberley@emailaddress.com', '071548666988', 6923537705)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(78095683, 'Dorothy Sackett', '16772 West 70th Avenue', 'Dorothy@emailaddress.com', '079649811469', 5538541946)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(5079942570, 'Marjorie Johnson', '8417 Timothy Lane', 'Marjorie@emailaddress.com', '073824070798', 3945853137)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(3747532475, 'Juan Mccollum', '1713 Apian Way', 'Juan@emailaddress.com', '077700209155', 3247903853)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(5511055130, 'Candace Vanluven', '815 Plantation Drive', 'Candace@emailaddress.com', '070321464889', 8723871250)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(6365613722, 'Thelma Stahl', '2324 North Briarwood Lane', 'Thelma@emailaddress.com', '073507604645', 5616151878)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(990265728, 'Jimmie Collins', '7809 Highway 2302', 'Jimmie@emailaddress.com', '076325489630', 950565325)
INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(4836073831, 'Patricia Knightly', '72 Milford Road', 'Patricia@emailaddress.com', '076337653253', 4925480335)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(7062208294, 'Lottie Blais', '106 Varnum Street Northwest', 'Lottie@emailaddress.com', '073044811976', 9158062686)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(3714348158, 'Joline Brett', '4700 10th Street Northeast', 'Joline@emailaddress.com', '074281723707', 8254975916)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(7970859500, 'Bessie Silva', '2027 North Shannon Drive', 'Bessie@emailaddress.com', '078222817683', 2856006497)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(7862372417, 'Daryl Layton', '3325 Dix Street Northeast', 'Daryl@emailaddress.com', '071498397587', 9424851956)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(5444175970, 'Wendy Finn', '4408 Northwest 55th Street', 'Wendy@emailaddress.com', '070251794068', 5722377300)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(2656747465, 'Michael Gomez', '1139 Addison Street', 'Michael@emailaddress.com', '076263690125', 6406207702)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(6760879411, 'Belinda Washington', '840 River Crest Court', 'Belinda@emailaddress.com', '072645431061', 3587886011)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(3511316056, 'George Romansky', '2944 Sheldon Jackson Street', 'George@emailaddress.com', '078181897124', 761140586)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(9801924408, 'Robert Smith', '71 Racine Road', 'Robert@emailaddress.com', '073678097204', 7034220431)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(4393298258, 'Megan Costales', '89 Plaistow Road', 'Megan@emailaddress.com', '070527436795', 820774390)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(4247182536, 'Stephen Smith', '800 Old Stage Road', 'Stephen@emailaddress.com', '079632710045', 1573939367)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(4840157314, 'John Hysom', '1631 Madison Avenue', 'John@emailaddress.com', '077337516861', 5370705772)
Error:  integer out of range


Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(2021449982, 'Karen Farquhar', '4709 Blagden Terrace Northwest', 'Karen@emailaddress.com', '074176378394', 4664868207)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(108713983, 'Richard Nelson', '600 West 19th Avenue', 'Richard@emailaddress.com', '078508564193', 9694048263)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(1496317776, 'Jacob Edwards', '4350 Woodley Square', 'Jacob@emailaddress.com', '074012822246', 6235284587)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(1628779616, 'Michael Patton', '702 Farragut Street Northwest', 'Michael@emailaddress.com', '072013529311', 340801331)
INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(8143665984, 'Joanne Taft', '3384 North Southridge Drive', 'Joanne@emailaddress.com', '074038162843', 3756304717)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(7262518448, 'Marta Morgan', '912 Countryside Lane', 'Marta@emailaddress.com', '076400996657', 8832018015)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(5137259093, 'Dennis Abrams', '7701 Taylor Oaks Circle', 'Dennis@emailaddress.com', '070137153075', 304166469)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(7631479340, 'Calvin Dunn', '11160 Vosikof Place', 'Calvin@emailaddress.com', '076241001173', 8311179766)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(7115147455, 'Kristen Barton', '56 Concord Road', 'Kristen@emailaddress.com', '071987634655', 8630580231)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(4738270780, 'Guadalupe Mcaninch', '314 Lallemand Court', 'Guadalupe@emailaddress.com', '073277617969', 710914670)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(8237865576, 'Michael Davenport', '512 Tennyson Road', 'Michael@emailaddress.com', '070325744958', 6410908177)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(9481169096, 'Jason Allen', '1931 West Deane Street', 'Jason@emailaddress.com', '071375722172', 9231096917)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(1182273042, 'Wilma Miller', '8467 Chase Drive', 'Wilma@emailaddress.com', '070137827220', 5445541807)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(5880755847, 'Brian Chain', '109 Peter's Quay', 'Brian@emailaddress.com', '070211342589', 6359651692)
Error:  syntax error at or near "s"
LINE 1: ..._id) VALUES(5880755847, 'Brian Chain', '109 Peter's Quay', '...
                                                             ^

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(773651064, 'Gloria Pocai', '25721 Berryhill Road', 'Gloria@emailaddress.com', '070181027503', 2350519697)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(1463134902, 'Kent Miller', '5420 Allison Street', 'Kent@emailaddress.com', '071523704814', 743365351)
INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(5655455371, 'Peter Jimenez', '1259 Everett Avenue', 'Peter@emailaddress.com', '077173662809', 3858546189)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(5852816719, 'Allison Flores', '6653 West Rose Garden Lane', 'Allison@emailaddress.com', '079777111462', 2446648556)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(5480712283, 'Sharon Garcia', '260 Park Avenue', 'Sharon@emailaddress.com', '072235899689', 4512140564)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(9799544133, 'Reginald Drake', '2417 Becker Place', 'Reginald@emailaddress.com', '077567592776', 1738202286)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(7229969565, 'Lance Burns', '645 Malaga Place', 'Lance@emailaddress.com', '077457407914', 8893932407)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(2413099171, 'William Putney', '5821 Taft Street', 'William@emailaddress.com', '078341463277', 5119935343)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(6592507901, 'Victor Kertzman', '1819 Q Street Southeast', 'Victor@emailaddress.com', '070369144046', 562297509)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(5619208014, 'Sally Tucker', '2335 Orchard View Lane', 'Sally@emailaddress.com', '072741655406', 1230416910)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(3089919120, 'Alicia Wilson', '928 Wright Avenue', 'Alicia@emailaddress.com', '071476650628', 5346336660)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(8246553511, 'Elizabeth Gutierrez', '7509 Linda Lane', 'Elizabeth@emailaddress.com', '071958794111', 7602658080)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(4591231852, 'Margie Ryan', '1452 55th Avenue', 'Margie@emailaddress.com', '079216738409', 3764897385)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(9005648504, 'Frank Ramsey', '7321 East Chester Heights Circle', 'Frank@emailaddress.com', '076230358837', 1282007566)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(692355293, 'Ronald Mccrory', '37675 Fremont Boulevard', 'Ronald@emailaddress.com', '072886675429', 5611528141)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(3968146203, 'Michael Handly', '90 Peabody Street', 'Michael@emailaddress.com', '070521228282', 4337321391)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(9458450208, 'Geneva Peters', '74 Westerly Street', 'Geneva@emailaddress.com', '074360836419', 4699038076)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(9437548552, 'Dean Castillo', '2100 North Leverett Avenue', 'Dean@emailaddress.com', '074850715167', 5748823283)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(6991210496, 'Connie Dorf', '159 Adams Street', 'Connie@emailaddress.com', '075386459409', 1900085635)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(2969563281, 'Ivan Jones', '162 South Main Street', 'Ivan@emailaddress.com', '075422305671', 7221821800)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(4963349355, 'Clifton Young', '6100 Bullard Drive', 'Clifton@emailaddress.com', '074134403654', 53068139)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(9194461713, 'Francisco Knight', '4339 Oak Street', 'Francisco@emailaddress.com', '078875699590', 1923389151)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(991468538, 'Genaro Penttila', '13415 Panama City Beach Parkway', 'Genaro@emailaddress.com', '070744736671', 3725991149)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(1747891836, 'Ann Son', '86 Russell Street', 'Ann@emailaddress.com', '073228192918', 6418023493)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(17389370, 'Michael Evans', '211 Oak Street', 'Michael@emailaddress.com', '077055108823', 4210400339)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(8357623330, 'Ryan Sheng', '8801 North 63rd Drive', 'Ryan@emailaddress.com', '074091002806', 5191642575)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(7698437126, 'Matthew Hillebrand', '645 Malaga Place', 'Matthew@emailaddress.com', '073298002132', 9828071997)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(5533296797, 'Renee Rogers', '2640 8th Avenue', 'Renee@emailaddress.com', '076162847295', 9253056401)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(670751778, 'Eric Mathis', '6740 West Montebello Avenue', 'Eric@emailaddress.com', '071100299424', 5383629720)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(774141018, 'Jon Gordon', '2349 East Tall Oaks Drive', 'Jon@emailaddress.com', '076717922851', 8491843058)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(4734950834, 'Melissa Villaman', '6215 Sheridan Boulevard', 'Melissa@emailaddress.com', '076535006535', 4512988367)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(2428082592, 'Russell Portillo', '1918 Spruce Street', 'Russell@emailaddress.com', '078224326992', 6529183031)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(2950465177, 'Tom Dan', '4493 Heath Circle', 'Tom@emailaddress.com', '079256134476', 1015414354)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(4271140982, 'Deanna Odonell', '3145 19th Avenue Court', 'Deanna@emailaddress.com', '071856099379', 636693859)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(639793867, 'Mark Deyoung', '233 Ingraham Street Northwest', 'Mark@emailaddress.com', '074174189399', 3154042258)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(1293642720, 'Eleanor Thomas', '416 Ridge Street Northwest', 'Eleanor@emailaddress.com', '071872536904', 2605477013)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(4789543562, 'Victor Martinez', '90 Peabody Street', 'Victor@emailaddress.com', '074656533336', 646548746)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(4839555933, 'Mark Choat', '429 Dennison Ridge Drive', 'Mark@emailaddress.com', '078258100475', 898605991)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(8986131400, 'Rosa Brown', '6740 West Montebello Avenue', 'Rosa@emailaddress.com', '074112701525', 5395810604)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(2321328273, 'Laurie Claar', '203 East Gwinnett Street', 'Laurie@emailaddress.com', '073948735863', 286438252)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(6046350246, 'Matt Johnson', '6080 Frontier Lane', 'Matt@emailaddress.com', '070414993954', 6276946553)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(4260836962, 'Mae Florence', '3762 Royalton Turnpike', 'Mae@emailaddress.com', '072170584507', 3008085898)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(3658803394, 'Samuel Vincente', '4739 South Court Street', 'Samuel@emailaddress.com', '070636011755', 8487873921)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(1386529663, 'Nicole Batiz', '16 Ambassador Drive', 'Nicole@emailaddress.com', '076652949574', 9154778753)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(3330044686, 'Hannah Mihalik', '2716 30th Street Southeast', 'Hannah@emailaddress.com', '074059958036', 7089166520)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(7066972528, 'Susan Signs', '14006 Coffee Bluff Road', 'Susan@emailaddress.com', '075601536381', 2259421384)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(7719119889, 'Henry Proffitt', '4385 Wares Ferry Road', 'Henry@emailaddress.com', '077996100487', 9877872483)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(6261556207, 'Douglas Forrest', '1828 East Parkshore Drive', 'Douglas@emailaddress.com', '077292899336', 3702400091)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(8637720853, 'Emma Gonzales', '16412 Eastwood Cut Off Road', 'Emma@emailaddress.com', '074842866469', 2462933362)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(1700313920, 'Diann Grady', '16 Fuller Street', 'Diann@emailaddress.com', '079825389172', 751878056)
INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(5242451657, 'David Erickson', '8496 Isles Court', 'David@emailaddress.com', '077947566688', 4371328834)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(3878881591, 'Henry Ross', '11140 West 60th Avenue', 'Henry@emailaddress.com', '079666959142', 8917708695)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(1899429907, 'Rebecca Williams', '3041 West Marigold Drive', 'Rebecca@emailaddress.com', '075892754094', 7318609421)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(7036543721, 'Rudy Pioske', '316 20th Street Northeast', 'Rudy@emailaddress.com', '076235120892', 7436668262)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(5572910115, 'Jeannette Rose', '7301 Northwest 113th Terrace', 'Jeannette@emailaddress.com', '072125431157', 2660392529)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(3725211969, 'Joyce Ferrara', '38 Renwick Road', 'Joyce@emailaddress.com', '076057550323', 1475357932)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(3354301731, 'Erwin Mucci', '3394 Wilmington Road', 'Erwin@emailaddress.com', '077607376497', 1742271785)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(7474824774, 'Luther Rayburn', '601 Farragut Place Northeast', 'Luther@emailaddress.com', '075587624123', 2058940435)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(2549828448, 'Amy Currier', '218 Turtle Cove', 'Amy@emailaddress.com', '074314481269', 3376223834)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(4937372377, 'Clayton Hughey', '2506 West Madison Street', 'Clayton@emailaddress.com', '074941989773', 3192224891)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(8317920201, 'Andrew Chase', '1820 Scenic Avenue', 'Andrew@emailaddress.com', '077299726496', 9128928088)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(1196909337, 'Robert Burton', '5603 Dune Creek Trail', 'Robert@emailaddress.com', '072411723408', 4083614355)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(153416071, 'Ludivina Neville', '172 Homestead Street', 'Ludivina@emailaddress.com', '071706556734', 7657135928)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(3875710170, 'Martin Bastianelli', '6653 West Rose Garden Lane', 'Martin@emailaddress.com', '075041364586', 4772680822)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(5155209943, 'John Schreffler', '4632 Vermont 15', 'John@emailaddress.com', '079703690083', 7875094814)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(8994334404, 'Carmen Kirley', '707 Harrisburg Drive', 'Carmen@emailaddress.com', '079712725892', 1013319944)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(6699706408, 'Patrick Cash', '10638 Happyville Road', 'Patrick@emailaddress.com', '074945239455', 9279673732)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(9451750528, 'Rebecca Nugent', '5743 Teller Street', 'Rebecca@emailaddress.com', '077764918682', 2066866549)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(8671008192, 'Carol Ramirez', '205 West Montgomery Cross Road', 'Carol@emailaddress.com', '075338518409', 3702655296)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(8534210053, 'Judith Curtis', '82 The Commons', 'Judith@emailaddress.com', '070943501688', 7754327495)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(9056518438, 'Vera Neuhoff', '7841 North 59th Lane', 'Vera@emailaddress.com', '077225695360', 4146194881)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(883845389, 'Stephanie Cameron', '7326 North 62nd Avenue', 'Stephanie@emailaddress.com', '071989123175', 301796172)
INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(257187318, 'Gina Gibson', '30451 Servilla Place', 'Gina@emailaddress.com', '079457439156', 9449019433)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(6561280014, 'Joe Burton', '800 Old Stage Road', 'Joe@emailaddress.com', '076241337874', 8123075354)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(7279364027, 'Arleen Hedrick', '545 Tracey Drive', 'Arleen@emailaddress.com', '078879518941', 6865972599)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(2840999395, 'Robert Brubaker', '2716 30th Street Southeast', 'Robert@emailaddress.com', '076638439779', 1031538815)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(530323609, 'Louise Sanders', '4214 Ashleywood Court', 'Louise@emailaddress.com', '073292148546', 5510693259)
Error:  integer out of range

INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(1133820672, 'Matthew Hickey', '7095 Gladiola Street', 'Matthew@emailaddress.com', '070901395801', 337563091)
INSERT INTO Patients(ssn, name, address, email, phone, insurance_id) VALUES(886745557, 'Marie Winner', '1233 Paradise Lane', 'Marie@emailaddress.com', '072794741409', 3062904065)
Error:  integer out of range


In [172]:
#Putting all our data into a dataframe for viewing

table_name="Patients"
query = """SELECT * FROM """+table_name
cur.execute(query)
df = pd.DataFrame(cur.fetchall())
print(df)

             0                    1                              2  \
0    123343434           John Smith                    123 Main st
1    128494285         Dallas Prado         46 Sugarloaf Hill Road
2   1306029517         Ruth Burnham           2186 Knollwood Drive
3    316957549         Tommy Thomas             1215 Joseph Avenue
4   1624625131     Elizabeth Hooper              1772 150th Avenue
5    453332955         Donald Moore  467 North Mountain Ranch Road
6    758094984       Gregory Franco            105 Inglewood Drive
7    601113569           Sarah Dunn                 301 East Court
8    211118215         Tony Sawyers            6755 Mulberry Drive
9    468149756         Lisa Simmons               136 Acacia Drive
10  1875491657        Edgar Nolasco     3516 North Virginia Avenue
11  1143106513   Antoinette Jackson           20270 Andover Avenue
12   958689067         Julius Vella       165 New Hampshire Avenue
13  1987834508      Octavia Winston     2036 Hermitage Hills Drive
14  1177413525         Tyrone Sneed              904 Walthour Road
15  1417595297     Jennifer Juckett              1841 Logan Street
16   251029021     Terrell Gonzalez              6463 Vrain Street
17  1763327742         Clarence Orr           5403 Illinois Avenue
18  1055661013           Paul Jones     5112 Southwest 124th Place
19   262654181         Lillian Doby             17615 Center Drive
20  1618399210        Richard Gould            26 Greenbriar Drive
21   105433306          Jacob Sharp               798 Airport Road
22   663048337      Heather Johnson                2068 Happy Lane
23  1724429980      Richard Battles             214 South End Road
24    27470200        David William      2278 North Windswept Lane
25  1644595907          Jason Jones       1931 Beauvoir Lake Drive
26   153025385       Billy Campbell              17 Gregory Street
27  1461492673    Margaret Bramlett                61 Cubles Drive
28  1929965555     Michelle Stewart     22709 Canyon Terrace Drive
29   990265728       Jimmie Collins              7809 Highway 2302
30  1671336102         Jeffery Kerr           1261 Steamboat Drive
31  2108002849  Christopher Cambell         1931 West Deane Street
32   391311973      Harold Townsend              3027 Badger Drive
33   968457232      Jeanette Bryant      11113 North Miller Avenue
34  1036678113        Rosa Lombardi                737 Nelson Road
35  1376131248       Melissa Morris       5370 Business Park Drive
36  1020834336      Robert Gonzalez          534 North 31st Street
37  1365139542      Roger Lindquist              56 Gardner Street
38  1864244538        Mary Montalto                    68 Route 66
39   680484261    Cristine Hamilton              5 Hibiscus Avenue
40   635540860  Josephine Hendricks             2436 Naples Avenue
41    20435690        Mary Ferguson            4809 Trappers Ridge
42  1628779616       Michael Patton  702 Farragut Street Northwest
43  1463134902          Kent Miller            5420 Allison Street
44  1700313920          Diann Grady               16 Fuller Street
45   883845389    Stephanie Cameron         7326 North 62nd Avenue
46  1133820672       Matthew Hickey           7095 Gladiola Street
47  1162421451      Robert Williams             110 Elmwood Avenue

                               3             4           5
0             someting@email.com    1234567890  1234567890
1        Dallas@emailaddress.com  075090876400  2070722123
2          Ruth@emailaddress.com  070538154074  1443364608
3         Tommy@emailaddress.com  079645142249  1646315508
4     Elizabeth@emailaddress.com  075909882130   569803456
5        Donald@emailaddress.com  073952952375   298169297
6       Gregory@emailaddress.com  071570053979   301957689
7         Sarah@emailaddress.com  070559320438   809826788
8          Tony@emailaddress.com  074533547714  1214806819
9          Lisa@emailaddress.com  079486935787  1388589841
10        Edgar@emailaddress.com  077153923687   669438156
11   Antoinette@emailaddress.com  073009972654  2089464693
12       Julius@emailaddress.com  072768664446  1218302076
13      Octavia@emailaddress.com  075370770667  2009601707
14       Tyrone@emailaddress.com  070918791105    71840618
15     Jennifer@emailaddress.com  072758780378   839541471
16      Terrell@emailaddress.com  076758261895  1839390814
17     Clarence@emailaddress.com  073256987437  2074390676
18         Paul@emailaddress.com  074461224113   921863236
19      Lillian@emailaddress.com  077936376615  1457521443
20      Richard@emailaddress.com  070734087875  1434366910
21        Jacob@emailaddress.com  070802436217  2017739861
22      Heather@emailaddress.com  079909293835   665436277
23      Richard@emailaddress.com  073997226023    15765542
24        David@emailaddress.com  071029814999    24785977
25        Jason@emailaddress.com  075566621309  1867054559
26        Billy@emailaddress.com  073798057442  1133028473
27     Margaret@emailaddress.com  077918431804  1484916746
28     Michelle@emailaddress.com  070212621657   698389840
29       Jimmie@emailaddress.com  076325489630   950565325
30      Jeffery@emailaddress.com  071155465185  2018535184
31  Christopher@emailaddress.com  074252667668  2035968461
32       Harold@emailaddress.com  074874757689   139967085
33     Jeanette@emailaddress.com  077117953536  1279094451
34         Rosa@emailaddress.com  076692277376  1414032624
35      Melissa@emailaddress.com  077808529274  1040480725
36       Robert@emailaddress.com  071657601310   180924048
37        Roger@emailaddress.com  073845349085  1805435557
38         Mary@emailaddress.com  077750240373   765381967
39     Cristine@emailaddress.com  076943099027   979978608
40    Josephine@emailaddress.com  079064055344   819452346
41         Mary@emailaddress.com  078805825753  1131715747
42      Michael@emailaddress.com  072013529311   340801331
43         Kent@emailaddress.com  071523704814   743365351
44        Diann@emailaddress.com  079825389172   751878056
45    Stephanie@emailaddress.com  071989123175   301796172
46      Matthew@emailaddress.com  070901395801   337563091
47       Robert@emailaddress.com  075468270301   496033964

In [207]:
# Function to find a patient

def find_a_patient(patient_full_name, table_name):
    query = f"SELECT * FROM {table_name} WHERE name = '{patient_full_name}'"
    print(query)
    cur.execute(query)
    row = cur.fetchone() # returns single row if available and None if not
    if row == None:
        print('No patient found')
        return
    else:
        print(f"SSN number for {patient_full_name}: {row[0]}")

In [208]:
find_a_patient('Mary Montalto', 'patients')

SELECT * FROM patients WHERE name = 'Mary Montalto'
SSN number for Mary Montalto: 1864244538

In [218]:
#Finding a ptient from their adrress
def find_patient_from_address(address, table_name):
    query = f"SELECT * FROM {table_name} WHERE address = '{address}'"
    cur.execute(query)
    row = cur.fetchone() # returns single row if available and None if not
    if row == None:
        print('No patient found')
        return
    else:
        print(f"This address is for: {row[1]}")

In [219]:
find_patient_from_address('68 Route 66', 'patients')

This address is for: Mary Montalto

In [227]:
def find_patient_from_last_name(last_name, table_name):
    query = f"SELECT * FROM {table_name} WHERE name LIKE '%{last_name}'"
    cur.execute(query)
    row = cur.fetchone() # returns single row if available and None if not
    if row == None:
        print('No patient found')
        return
    else:
        print(f"Full name: {row[1]}\nSSN: {row[0]}")

In [228]:
find_patient_from_last_name('Nolasco', 'patients')

Full name: Edgar Nolasco
SSN: 1875491657

In [209]:
print(df.head(10)) #prints first 10 patients in data frame

            0                 1                              2  \
0   123343434        John Smith                    123 Main st
1   128494285      Dallas Prado         46 Sugarloaf Hill Road
2  1306029517      Ruth Burnham           2186 Knollwood Drive
3   316957549      Tommy Thomas             1215 Joseph Avenue
4  1624625131  Elizabeth Hooper              1772 150th Avenue
5   453332955      Donald Moore  467 North Mountain Ranch Road
6   758094984    Gregory Franco            105 Inglewood Drive
7   601113569        Sarah Dunn                 301 East Court
8   211118215      Tony Sawyers            6755 Mulberry Drive
9   468149756      Lisa Simmons               136 Acacia Drive

                            3             4           5
0          someting@email.com    1234567890  1234567890
1     Dallas@emailaddress.com  075090876400  2070722123
2       Ruth@emailaddress.com  070538154074  1443364608
3      Tommy@emailaddress.com  079645142249  1646315508
4  Elizabeth@emailaddress.com  075909882130   569803456
5     Donald@emailaddress.com  073952952375   298169297
6    Gregory@emailaddress.com  071570053979   301957689
7      Sarah@emailaddress.com  070559320438   809826788
8       Tony@emailaddress.com  074533547714  1214806819
9       Lisa@emailaddress.com  079486935787  1388589841

In [210]:
print(df.dtypes) #prints datatypes of each column

0     int64
1    object
2    object
3    object
4    object
5     int64
dtype: object

In [211]:
print(df.columns) # column range

RangeIndex(start=0, stop=6, step=1)

In [213]:
print(df.shape[0], df.shape[1]) # size of dataframe 48 rows and 6 columns

48 6